.content-home {
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 110vh;
    background-color: rgba(135, 206, 250, 0.562);
}
.welcome {
    color: rgb(71, 71, 71);
    justify-content: center;
    gap: 10%;
    align-items: center;
    padding: 70px;
    width: 100vw;
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    background-image: linear-gradient(to left,transparent,lightskyblue);
}
#hola {
    font-family: "Nunito";
    font-weight: 300;
    font-size: 6em;
}
#soy {
    font-weight: 400;
    font-size: 2.3em;
}
#dev {
    font-weight: 300;
    font-size: 1.3em;
}
@media screen and (max-height: 400px) {
    .content-home {
        height: fit-content;
    }
}