* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

.content-home {
    display: flex;
    background-image: url('public/home_background.jpg');
    background-size: cover;
    min-height: 100vh;
}
.welcome {
    font-family: 'roboto';
    font-weight: 300;
    color: beige;
    position: absolute;
    justify-content: center;
    top: 35%;
    padding: 50px;
    gap: 100px;
    width: 90vw;
    height: 50vh;
    display: flex;
    background-image: linear-gradient(
        to left, 
        transparent,
        #1f1f1fb3,
        #1f1f1fd9,
        #1f1f1fe6,
        #1f1f1fd9,
        #1f1f1fb3, 
        transparent);
}
#hola {
    font-family: 'Nunito';
    font-weight: 300;
    margin-top: 30px;
    font-size: 120px;
    color: rgb(122, 209, 205);
}
#soy {
    margin-top: 30px;
    font-size: 60px;
}
#dev {
    font-size: 25px;
}
#footer_home {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    .welcome {
        flex-direction: column;
        top: 30%;
        gap: 50px;
        width: 100vw;
    }
    #hola {
        font-size: 90px;
        margin-top: 0;
        align-self: center;
    }
    #soy {
        margin-top: 0;
        font-size: 40px;
    }
    #dev {
        font-size: 15px;
    }
    #footer_home {
        font-size: 15px;
        left: 0;
    }
}